

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>设置我的密码</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">修改密码</div>
        <div class="layui-card-body" pad15>

          <div class="layui-form" lay-filter="">
            <div class="layui-form-item">
              <div class="layui-inline">
                <label class="layui-form-label">预约时间</label>
                <div class="layui-input-inline">
                  <input type="text" class="layui-input" id="test1" name="appointmentTime" placeholder="请选择时间">
                </div>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">预约详情</label>
              <div class="layui-input-inline">
                <textarea name="appointmentDetail" lay-verify="required" style="width: 400px; height: 150px;" autocomplete="off" class="layui-textarea"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="layuiadmin-appointment-customer-submit">确认修改</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'laydate'],function(){
    var $ = layui.$
        ,laydate = layui.laydate
        ,form = layui.form;

    laydate.render({
      elem: '#test1'
      ,trigger: 'click'
    });


    //监听提交
    form.on('submit(layuiadmin-appointment-customer-submit)', function(data){
      var field = data.field; //获取提交的字段

      debugger;
      //提交 Ajax 成功后，关闭当前弹层并重载表格
      //$.ajax({});
      $.ajax({
        type : "post",
        /*contentType: "application/json;charset=UTF-8",*/
        url: "/appointment/insertCustomerAppointment",
        data: field,
        async: false,
        success: function (data) {
          if (data.state == "success"){
            layer.msg("预约成功")
          }
          if (data.state == "error"){
            layer.msg("预约失败");
          }
        },
        error: function (e) {
          layer.msg("预约失败");
        }
      })


    });
  });
</script>
</body>
</html>