<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lxp.pethospital.mapper.AppointmentMapper">

    <resultMap id="selectAppointmentListMap" type="cn.lxp.pethospital.model.Appointment">
        <id property="id" column="id"></id>
        <result property="userId" column="user_id"></result>
        <result property="appointmentTime" column="appointment_time"></result>
        <result property="isSuccessful" column="is_successful"></result>
        <result property="appointmentDetail" column="appointment_detail"></result>
        <result property="isDel" column="is_del"></result>
        <association property="user" javaType="cn.lxp.pethospital.model.User">
            <result property="name" column="name"></result>
            <result property="animal" column="animal"></result>
            <result property="animalName" column="animal_name"></result>
        </association>
    </resultMap>

    <select id="selectAppointmentList" resultMap="selectAppointmentListMap" parameterType="java.util.Map">
        SELECT
            a.*, s.`name`, s.animal, s.animal_name
        FROM
            appointment a
        LEFT JOIN sys_user s ON a.user_id = s.id
        WHERE
            a.is_del = 0
        <if test="name != null and name != ''">
            and s.name = #{name}
        </if>
        <if test="isSuccessful != null">
            and a.is_successful = #{isSuccessful}
        </if>
    </select>

    <insert id="insertAppointment" parameterType="cn.lxp.pethospital.model.Appointment">
        insert into appointment
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="appointmentTime != null" >
                appointment_time,
            </if>
            <if test="isSuccessful != null" >
                is_successful,
            </if>
            <if test="appointmentDetail != null" >
                appointment_detail,
            </if>
            <if test="isDel != null" >
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="userId != null" >
                #{userId},
            </if>
            <if test="appointmentTime != null" >
                #{appointmentTime},
            </if>
            <if test="isSuccessful != null" >
                #{isSuccessful},
            </if>
            <if test="appointmentDetail != null" >
                #{appointmentDetail},
            </if>
            <if test="isDel != null" >
                #{isDel},
            </if>
        </trim>
    </insert>

    <select id="selectAppointmentById" parameterType="java.lang.String" resultMap="selectAppointmentListMap">
        SELECT
            a.*, s.`name`, s.animal, s.animal_name
        FROM
            appointment a
        LEFT JOIN sys_user s ON a.user_id = s.id
        WHERE
            a.is_del = 0
        AND a.id = #{id}
    </select>

    <update id="updateAppointment" parameterType="cn.lxp.pethospital.model.Appointment">
        update appointment
        <set >
            <if test="userId != null" >
                user_id = #{userId},
            </if>
            <if test="appointmentTime != null" >
                appointment_time = #{appointmentTime},
            </if>
            <if test="isSuccessful != null" >
                is_successful = #{isSuccessful},
            </if>
            <if test="appointmentDetail != null" >
                appointment_detail = #{appointmentDetail},
            </if>
        </set>
        where id = #{id} and is_del = 0
    </update>

    <delete id="deleteAppointmentById" parameterType="java.lang.String">
        update appointment
        set is_del = 1
        where id = #{id}
    </delete>
</mapper>