<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lxp.pethospital.mapper.UserMapper">

    <resultMap id="selectUserListMap" type="cn.lxp.pethospital.model.User">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="sex" column="sex"></result>
        <result property="phone" column="phone"></result>
        <result property="address" column="address"></result>
        <result property="isDel" column="is_del"></result>
        <association property="role" javaType="cn.lxp.pethospital.model.Role">
            <result property="name" column="role_name"></result>
            <result property="nameEn" column="name_en"></result>
            <result property="roleType" column="role_type"></result>
        </association>
    </resultMap>

    <select id="selectUserList" resultMap="selectUserListMap" parameterType="java.util.Map">
        SELECT
            s.*,sr.`name` AS role_name, sr.role_type
        FROM
            sys_user s
        LEFT JOIN sys_user_role sur ON s.id = sur.user_id
        LEFT JOIN sys_role sr ON sur.role_id = sr.id
        WHERE
            s.is_del = 0
        <if test="roleType != null">
            and sr.role_type = #{roleType}
        </if>
        <if test="name != null and name != ''">
            and s.name = #{name}
        </if>
        <if test="username != null and username != ''">
            and s.username = #{username}
        </if>
        <if test="phone != null and phone != ''">
            and s.phone = #{phone}
        </if>

    </select>

    <insert id="insertUser" parameterType="cn.lxp.pethospital.model.User">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="username != null" >
                username,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="sex != null" >
                sex,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="address != null" >
                address,
            </if>
            <if test="isDel != null" >
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="name != null" >
                #{name},
            </if>
            <if test="username != null" >
                #{username},
            </if>
            <if test="password != null" >
                #{password},
            </if>
            <if test="sex != null" >
                #{sex},
            </if>
            <if test="phone != null" >
                #{phone},
            </if>
            <if test="address != null" >
                #{address},
            </if>
            <if test="isDel != null" >
                #{isDel},
            </if>
        </trim>
    </insert>

    <select id="selectUserById" parameterType="java.lang.String" resultMap="selectUserListMap">
        SELECT
            s.*,sr.`name` AS role_name, sr.role_type
        FROM
            sys_user s
        LEFT JOIN sys_user_role sur ON s.id = sur.user_id
        LEFT JOIN sys_role sr ON sur.role_id = sr.id
        WHERE
            s.id = #{id}
        AND
            s.is_del = 0
    </select>

    <update id="updateUser" parameterType="cn.lxp.pethospital.model.User">
        update sys_user
        <set >
            <if test="name != null" >
                name = #{name},
            </if>
            <if test="username != null" >
                username = #{username},
            </if>
            <if test="password != null" >
                password = #{password},
            </if>
            <if test="sex != null" >
                sex = #{sex},
            </if>
            <if test="phone != null" >
                phone = #{phone},
            </if>
            <if test="address != null" >
                address = #{address},
            </if>
        </set>
        where id = #{id} and is_del = 0
    </update>

    <delete id="deleteUserById" parameterType="java.lang.String">
        update sys_user
        set is_del = 1
        where id = #{id}
    </delete>

    <select id="selectUserByName" parameterType="java.lang.String" resultType="cn.lxp.pethospital.model.User">
        select * from sys_user where name = #{name} and is_del = 0
    </select>

    <select id="selectUserByUsername" parameterType="String" resultMap="selectUserListMap">
        SELECT
            s.*, sr.`name` AS role_name,
            sr.role_type,sr.name_en as name_en
        FROM
            `sys_user` s
        LEFT JOIN sys_user_role sur ON s.id = sur.user_id
        LEFT JOIN sys_role sr ON sur.role_id = sr.id
        WHERE
            username = #{username}
    </select>
</mapper>